@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
    --preto:#0D070B;
    --marrom-escuro:#592E1E;
    --marrom-claro:#8C5D42;
    --bege:#BFA584;
    --branco:#D9D1B8;
}

*{
    font-family: poppins, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--marrom-escuro);
    height: 100vh;
    width: 100vw;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 100vh;
    width: 100vw;

    & h1{
        color: var(--preto);
    }
}

section#login{    
    width: 300px;
    height: 510px;

    overflow: hidden;

    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.651);
    border-radius: 20px;
    background-color: white;

    transition: height .3s ease, width .3s ;
    transition-timing-function: ease;

}

div#imagem{
    display: block;
    background-image: url(../imagem/login-coffe-shop.jpg);
    background-size: cover;

    filter: grayscale(100%);
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
section#login:hover div#imagem{
    filter: grayscale(0%);
}


div#formulario{
    display: block;
    padding: 10px;

    & h1{
        text-align: center;
    }
    & p{
        font-size: 0.8em;
    }
}

/* INPUTS */
form > label{
    display: flex;
    justify-content: center;
    align-items: center;
}

form > div.campo{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    margin: 10px 0px;
    padding: 0px 5px;

    border-radius: 5px;
    background-color: var(--marrom-escuro);

    & input{
        width: 100%;
        height: 100%;

        background-color: transparent;
        border: none;
        outline: none;
        padding: 5px;
        color: white;
    }
    & input::placeholder{
        color: white;
        font-style: italic;
    }
    & span{
        color: white;
    }
}

form >input[type=submit]{
    display: block;
    font-size: 1em;

    width: 100%;
    height: 40px;

    background: #49a09d;
    color: white;

    outline: none;
    border-radius: 5px;
    border: none;

}form >input[type=submit]:hover{
    background: #3d8380;
    cursor: pointer;
}


form > a.botao{
    display: block;
    
    padding-top:5px;
    margin-top:10px ;
    font-size: 1em;

    width: 100%;
    height: 40px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    color: black;
}
form >a.botao:hover{
    background-color: rgb(190, 190, 190);
}

form > a.botao > span{
    font-size: 1em;
}


